<a href="https://colab.research.google.com/github/Shin-Sangseok/Google_colab_practice/blob/main/colab_test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('test')

test

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df = pd.read_csv('/content/scientists.csv')
df

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [ ]:
#google drive에서 파일을 읽어오는 경우

In [ ]:
from google.colab import drive
#colab이 설치되어있는 리눅스에 구글 드라이브를 연결해야함 
#연결 == mount(마운트)

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df2= pd.read_csv('/content/drive/MyDrive/python-data/scientists.csv')
df2

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [ ]:
dates = pd.date_range('20190301', periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
np.random.randn(6,4)

array([[ 0.00702763,  2.02647266,  0.51888353, -0.98035421],
       [-0.62239395,  0.11420085, -1.75537381,  0.23742172],
       [ 1.94471095, -0.13328835,  0.41173711, -0.27261985],
       [-1.6034737 , -1.4979162 ,  0.9068004 , -0.41278612],
       [-0.1826526 ,  0.55447154, -0.32892458,  0.02049804],
       [-0.81103748,  1.95894428,  0.1600204 ,  1.51875188]])

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), columns=['A','B','C','D'])
#df = df.DataFrame(ndarray(values), columns = ['컬럼명', '컬럼명'...])
df

          A         B         C         D
0  0.095702 -1.016868  0.598983 -0.011507
1 -1.105230 -1.155106  0.839003  0.000833
2  0.723562  0.013621 -0.622520  1.167986
3 -0.823900  1.097063  0.289416 -0.189607
4  0.973189  0.929665 -1.271458  0.209275
5  0.872615 -0.148736 -0.575501  0.752609

In [ ]:
df2 = pd.DataFrame(np.random.randn(6,4),index = dates, columns=['A','B','C','D'])
df2

                   A         B         C         D
2019-03-01 -1.707612  0.347043  1.772340  0.140399
2019-03-02  0.561972 -0.485172 -0.852800  3.052398
2019-03-03  0.088079  1.488709 -1.245795  0.299279
2019-03-04  0.702088 -0.424170  0.098612  1.572340
2019-03-05  0.467543 -0.823309 -2.305130  1.015880
2019-03-06 -0.615395 -1.807039  1.372562 -1.715021

In [ ]:
type(df2)

pandas.core.frame.DataFrame

In [ ]:
df2.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
in1 = df2.index
in1

RangeIndex(start=0, stop=8, step=1)

In [ ]:
in1[0]

0

In [ ]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
in2 = df.index
in2

RangeIndex(start=0, stop=6, step=1)

In [ ]:
in2[2] 
#리스트를 가지고 만든 여러가지 객체들은 리스트처럼 똑같이 다루어도 크게 문제가 발생하지 않는다.

2

In [ ]:
ts1 = in1[0]
ts1

0

In [ ]:
str(ts1)

'0'

In [ ]:
df['A']

0    0.095702
1   -1.105230
2    0.723562
3   -0.823900
4    0.973189
5    0.872615
Name: A, dtype: float64

In [ ]:
type(df['A'])

pandas.core.series.Series

In [ ]:
a = df['A']
a

0    0.095702
1   -1.105230
2    0.723562
3   -0.823900
4    0.973189
5    0.872615
Name: A, dtype: float64

In [ ]:
a[0]

0.09570168436262597

In [ ]:
a[1]

-1.1052295056860986

In [ ]:
df2.values

array([[-1.7076124 ,  0.34704273,  1.77234035,  0.14039882],
       [ 0.56197237, -0.48517245, -0.85280028,  3.05239786],
       [ 0.08807926,  1.48870918, -1.24579529,  0.2992789 ],
       [ 0.70208797, -0.42417006,  0.09861183,  1.57233975],
       [ 0.46754305, -0.82330911, -2.30513037,  1.01587958],
       [-0.61539547, -1.80703901,  1.37256152, -1.71502101]])

In [ ]:
df2.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.083888 -0.283990 -0.193369  0.727546
std    0.926016  1.114570  1.575017  1.593489
min   -1.707612 -1.807039 -2.305130 -1.715021
25%   -0.439527 -0.738775 -1.147547  0.180119
50%    0.277811 -0.454671 -0.377094  0.657579
75%    0.538365  0.154240  1.054074  1.433225
max    0.702088  1.488709  1.772340  3.052398

In [ ]:
df2.sort_index()

                   A         B         C         D
2019-03-01 -1.707612  0.347043  1.772340  0.140399
2019-03-02  0.561972 -0.485172 -0.852800  3.052398
2019-03-03  0.088079  1.488709 -1.245795  0.299279
2019-03-04  0.702088 -0.424170  0.098612  1.572340
2019-03-05  0.467543 -0.823309 -2.305130  1.015880
2019-03-06 -0.615395 -1.807039  1.372562 -1.715021

In [ ]:
df2.sort_index(ascending=False)

                   A         B         C         D
2019-03-06 -0.615395 -1.807039  1.372562 -1.715021
2019-03-05  0.467543 -0.823309 -2.305130  1.015880
2019-03-04  0.702088 -0.424170  0.098612  1.572340
2019-03-03  0.088079  1.488709 -1.245795  0.299279
2019-03-02  0.561972 -0.485172 -0.852800  3.052398
2019-03-01 -1.707612  0.347043  1.772340  0.140399

In [ ]:
df2.sort_values(by='A')

                   A         B         C         D
2019-03-01 -1.707612  0.347043  1.772340  0.140399
2019-03-06 -0.615395 -1.807039  1.372562 -1.715021
2019-03-03  0.088079  1.488709 -1.245795  0.299279
2019-03-05  0.467543 -0.823309 -2.305130  1.015880
2019-03-02  0.561972 -0.485172 -0.852800  3.052398
2019-03-04  0.702088 -0.424170  0.098612  1.572340

In [ ]:
df2.sort_values(by='A', ascending=False)

                   A         B         C         D
2019-03-04  0.702088 -0.424170  0.098612  1.572340
2019-03-02  0.561972 -0.485172 -0.852800  3.052398
2019-03-05  0.467543 -0.823309 -2.305130  1.015880
2019-03-03  0.088079  1.488709 -1.245795  0.299279
2019-03-06 -0.615395 -1.807039  1.372562 -1.715021
2019-03-01 -1.707612  0.347043  1.772340  0.140399

In [ ]:
df3 = df2.copy()
df3

                   A         B         C         D
2019-03-01 -1.707612  0.347043  1.772340  0.140399
2019-03-02  0.561972 -0.485172 -0.852800  3.052398
2019-03-03  0.088079  1.488709 -1.245795  0.299279
2019-03-04  0.702088 -0.424170  0.098612  1.572340
2019-03-05  0.467543 -0.823309 -2.305130  1.015880
2019-03-06 -0.615395 -1.807039  1.372562 -1.715021

In [ ]:
# df3를 B로 정렬해주세요 
# df3의 내용이 변경되어야 합니다.
df3 = df3.sort_values(by='B')
df3

                   A         B         C         D
2019-03-06 -0.615395 -1.807039  1.372562 -1.715021
2019-03-05  0.467543 -0.823309 -2.305130  1.015880
2019-03-02  0.561972 -0.485172 -0.852800  3.052398
2019-03-04  0.702088 -0.424170  0.098612  1.572340
2019-03-01 -1.707612  0.347043  1.772340  0.140399
2019-03-03  0.088079  1.488709 -1.245795  0.299279

In [ ]:
#변경된 df3에서 b, c만 추출 
df3bc=df3[['B','C']] #밖의 대괄호는 추출의 의미 안의 대괄호는 묶어주는 의미 
df3bc

                   B         C
2019-03-06 -1.807039  1.372562
2019-03-05 -0.823309 -2.305130
2019-03-02 -0.485172 -0.852800
2019-03-04 -0.424170  0.098612
2019-03-01  0.347043  1.772340
2019-03-03  1.488709 -1.245795

In [110]:
#df3의 첫번째 행 첫번째 열의 값을 1로 수정
df3.iloc[0,0]=1 
df3.iloc[0,0]

1.0

In [111]:
#df3에서 0행에서 2행까지 추출 
df3.iloc[0:3] #df.iloc[추출범위]=>행으로 취급! 
#df3.iloc[0:3,:] 이렇게 생략 된 것. 
#df3.iloc[:,0:2] #df3.iloc[추출범위 행, 추출범위 열]=>열로 추출 가능! 
#열은 하나만 쓸 수 없다.

                   A         B         C         D
2019-03-06  1.000000 -1.807039  1.372562 -1.715021
2019-03-05  0.467543  1.000000 -2.305130  1.015880
2019-03-02  0.561972 -0.485172 -0.852800  3.052398

In [124]:
#df3에서 2019-03-01, A열의 값을 추출 
type(df3.loc['2019-03-01','A'])

pandas.core.series.Series

In [95]:
#df3에서 2019-03-01, A열 ,B열의 값을 추출 
df3.loc['2019-03-01',['A','B']]

                   A         B
2019-03-01 -1.707612  0.347043

In [96]:
#df3에서 A열의 전체 행을 추출 
df3.loc[:,'A']

2019-03-06    1.000000
2019-03-05    0.467543
2019-03-02    0.561972
2019-03-04    0.702088
2019-03-01   -1.707612
2019-03-03    0.088079
Name: A, dtype: float64

In [112]:
#df3에서 A,C열의 전체 행을 추출
df3.loc[:,['A','C']]
#loc, iloc의 결과가 1행 인경우 ,Series로 리턴 
#loc, iloc의 결과가 여러 행이면, DataFrame으로 리턴

                   A         C
2019-03-06  1.000000  1.372562
2019-03-05  0.467543 -2.305130
2019-03-02  0.561972 -0.852800
2019-03-04  0.702088  0.098612
2019-03-01 -1.707612  1.772340
2019-03-03  0.088079 -1.245795

In [130]:
#A열을 추출하여 2번째 값을 추출 
print(type(df3.loc[:,'A']))
df3.loc[:,'A']
#df3.loc[:,'A'].to_list() 

#d53에서 2019-03-01, A열의 값을 추출하여 1번째 값 추출 

#결과가 1행인 경우, Series(list처럼 다루면 된다)

#A열과 C열을 추출하여 1번째행 1번째 열의 값 추출 
#결과가 2행 이상인 경우, DataFrame임 (df로 다루면 된다 )

c = df3.loc[:,['A','C']]
c.iloc[1,1]

<class 'pandas.core.series.Series'>
[1.0, 0.46754305462403645, 0.5619723707294015, 0.7020879706243658, -1.707612403841603, 0.08807925752831251]

-2.305130372671821

In [132]:
#df3에서 0번 행렬 추출 
df3.iloc[0,:]

A    1.000000
B   -1.807039
C    1.372562
D   -1.715021
Name: 2019-03-06 00:00:00, dtype: float64

In [133]:
type(df3.iloc[0,:])

pandas.core.series.Series

In [134]:
#df3의 행렬의 크기를 추출 
df3.shape

(6, 4)

In [135]:
df3.T

   2019-03-06  2019-03-05  2019-03-02  2019-03-04  2019-03-01  2019-03-03
A    1.000000    0.467543    0.561972    0.702088   -1.707612    0.088079
B   -1.807039    1.000000   -0.485172   -0.424170    0.347043    1.488709
C    1.372562   -2.305130   -0.852800    0.098612    1.772340   -1.245795
D   -1.715021    1.015880    3.052398    1.572340    0.140399    0.299279

In [137]:
#df3에서 5행 전체 열 추출 
df3.iloc[5]

A    0.088079
B    1.488709
C   -1.245795
D    0.299279
Name: 2019-03-03 00:00:00, dtype: float64

In [143]:
#df3에서 4행부터 추출 
print(df3)
df3.iloc[4:]

                   A         B         C         D
2019-03-06  1.000000 -1.807039  1.372562 -1.715021
2019-03-05  0.467543  1.000000 -2.305130  1.015880
2019-03-02  0.561972 -0.485172 -0.852800  3.052398
2019-03-04  0.702088 -0.424170  0.098612  1.572340
2019-03-01 -1.707612  0.347043  1.772340  0.140399
2019-03-03  0.088079  1.488709 -1.245795  0.299279

                   A         B         C         D
2019-03-01 -1.707612  0.347043  1.772340  0.140399
2019-03-03  0.088079  1.488709 -1.245795  0.299279

In [141]:
#df3에서 0,3행, 1부터 2열까지 추출 
df3.iloc[[0,3],[1,2]]

                   B         C
2019-03-06 -1.807039  1.372562
2019-03-04 -0.424170  0.098612

In [142]:
#df3에서 1,2,5행, 1,3열 추출 
df3.iloc[[1,2,5],[1,3]]

                   B         D
2019-03-05  1.000000  1.015880
2019-03-02 -0.485172  3.052398
2019-03-03  1.488709  0.299279